body {
	background-color: black;
	color: #07ff11;
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
	font-weight: 900;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#hangmantitle {
    font-weight: 900;
    text-align: center;
}

#title {
    margin: 50px;
    border-bottom: 3px dashed;
}

#game {
    height: 500px;
    width: 560px;
    margin: 0 auto;
    border: 3px dashed;
}

#littleguy {
    width: 58%;
    height: 50%;
    border-right: 3px dashed;
    border-bottom: 3px dashed;
    float: left;
}

#littleguytxt pre{
    font-size: 25px;
    margin: 0px;
    margin-left: 40px;
}

#hangmanchar {
    position: fixed;
    top: 286px;
    font-size: 25px;
    margin-left: 202px;
}

#hangmanchar2 {
    text-align: center;
}

#hangmanchar3 {
    text-align: center;
}

#hangmanchar4 {
    margin-left: 1px;
    float: left;
    margin-top: -52px;
}

#hangmanchar5 {
    margin-left: 1px;
    float: right;
    margin-top: -52px;
}

#hangmanchar6 {
    float: left;
}

#hangmanchar7 {
    float: right;
    margin-left: -18px;
}

#score {
    width: 40%;
    height: 24%;
    border-bottom: 3px dashed;
    float: right;
}

#scoretext {
    margin-top: 5px;
    width: 62%;
    height: 100%;
    float: left;
}

#scorenumbers {
	width: 19%;
    height: 108px;
    float: right;
    text-align: right;
    margin-right: 20px;
    margin-top: 5px;
    border-left: 3px dashed;
}

#buttons {
    width: 41%;
    height: 123px;
    border-bottom: 3px dashed;
    float: right;
    text-align: center;
    margin-top: 5px;
}

#states {
    width: 80px;
    height: 30px;
    border: 2px dashed;
    margin-left: 12px;
    margin-top: 10px;
}

#states:hover {
	background-color: #07ff11;
	color: black;
	border: 2px dashed black;
	cursor: pointer;
}

#states:active {
	border:2px dashed white;
	color: white;
}

#statetxt {
    margin-top: 7px;
}

#countries {
    width: 110px;
    height: 30px;
    border: 2px dashed;
    float: right;
    margin-right: 12px;
    margin-top: -33px;
}

#countries:hover {
	background-color: #07ff11;
	color: black;
	border: 2px dashed black;
	cursor: pointer;
}

#countries:active {
	border:2px dashed white;
	color: white;
}

#countrytxt {
	margin-top: 7px;
}

#continents {
    width: 134px;
    height: 30px;
    border: 2px dashed;
    margin-left: 12px;
    margin-top: 15px;
}

#continents:hover {
	background-color: #07ff11;
	color: black;
	border: 2px dashed black;
	cursor: pointer;
}

#continents:active {
	border:2px dashed white;
	color: white;
}

#continenttxt {
	margin-top: 7px;
}

#allbtn {
	width: 55px;
    height: 30px;
    border: 2px dashed;
    float: right;
    margin-right: 12px;
	margin-top: -33px;
}

#allbtn:hover {
	background-color: #07ff11;
	color: black;
	border: 2px dashed black;
	cursor: pointer;
}

#allbtn:active {
	border:2px dashed white;
	color: white;
}

#allbtntxt {
	margin-top: 7px;
}

#answer {
    width: 100%;
    height: 15%;
    border-bottom: 3px dashed;
    clear: both;
    text-align: center;
}

#answertxt {
    padding-top: 30px;
    letter-spacing: 3px;
}

#my-word {
    list-style: none;
    text-align: center;
    display: inline-block;
    float: initial;
    letter-spacing: 7px;
    padding: 0px;
    margin-top: 30px;
}

li.guess {
    display: inline-block;
}

#answerbracket1 {
    display: none;
}

#answerbracket2 {
    display: none;
}

#container {
    display: none;
}

#guesses {
    width: 100%;
    height: 10%;
    border-bottom: 3px dashed;
}

#guesstxt {
    padding: 17px;
    text-align: center;
}

#wrongguess {
    display: none;
    position: relative;
    top: 15px;
    left: 75px;
}

#guessmenu2 {
    padding: 17px;
    text-align: center;
    display: none;
}

#keys {
    width: 100%;
    height: 23%;
}

#keypad {
    text-align: center;
    padding: 29px;
    letter-spacing: 3px;
    font-size: 20px;
}